name: Test

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test-tokenless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
      - name: Check versions
        run: |
          myks --help
          myks --version
          myks ytt --version
          myks vendir --version
  test-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check versions
        run: |
          myks --help
          myks --version
          myks ytt --version
          myks vendir --version
  test-versioned:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=mykso/myks
      MYKS_VERSION: v5.5.1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          myks: ${{ env.MYKS_VERSION }}
      - name: Check versions
        run: |
          myks --help
          myks --version
          myks ytt --version
          myks vendir --version
